---
http_interactions:
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"aced83f8233f2df4b389f3347d69e6ee"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":34867,"draftees_count":179,"likes_count":36923,"likes_received_count":24286,"comments_count":2391,"comments_received_count":3197,"rebounds_count":32,"rebounds_received_count":517,"url":"http://dribbble.com/simplebits","avatar_url":"https://d13yacurqjgara.cloudfront.net/users/1/avatars/normal/dc.jpg?1371675643","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":221,"following_count":1792,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Wed, 10 Sep 2014 10:15:13 GMT
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7d4dc48d87729796ae972dd8d21f2255"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":34868,"draftees_count":179,"likes_count":36923,"likes_received_count":24286,"comments_count":2391,"comments_received_count":3197,"rebounds_count":32,"rebounds_received_count":517,"url":"http://dribbble.com/simplebits","avatar_url":"https://d13yacurqjgara.cloudfront.net/users/1/avatars/normal/dc.jpg?1371675643","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":221,"following_count":1792,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Wed, 10 Sep 2014 10:47:30 GMT
recorded_with: VCR 2.9.3
